@model PIDOTNET.DATA.DataModel.evaluation
    
<!DOCTYPE html>

<html>


<head>


    <meta name="viewport" content="width-device-width" />

    <title></title>


</head>

<body>


    <a href="@Url.Action("Create", "Evaluation")">add new Evaluation</a>

    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>nameEvaluation</th>
          <th>typeEvaluation</th>
            
            <th>scoreEvaluation</th>
            <th>etat</th>
            <th>Delete</th>

            

        </tr>

        @foreach (var p in ViewBag.result)
        {

            <tr>

                <td>@p.nameEvaluation</td>
                <td>@p.typeEvaluation</td>
                <td>@p.scoreEvaluation</td>
                <td>@p.etat</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = p.id }, new { @class = "btn btn-primary align-bottom" })
                 </td>
                <td data-target="#updateMissionForm">@Html.ActionLink("Update", "Update", new { id = p.id }, new { @class = "btn btn-primary align-bottom" } </ td >
                @*<td>@Html.ActionLink("Update", "evaluation", FormMethod.Post, new { @class = "form-horizontal", id =p.id, role = "form" })</td>*@

              



            </tr>
        }





    </table>
    @using (Html.BeginForm("Update", "evaluation", FormMethod.Post, new { @class = "form-horizontal", id = "updateMissionForm", role = "form" }))
    {
        <hr />
                                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                                <div class="form-group">
                                                    @Html.LabelFor(m =>m.nameEvaluation, new { @class = "col-md-2 control-label" })
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(m => m.nameEvaluation, new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.typeEvaluation, new { @class = "col-md-2 control-label" })
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(m => m.typeEvaluation, new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.etat, new { @class = "col-md-2 control-label" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.etat, new { @class = "form-control" })
                                                    </div>
                                                </div>
    }

</body>






</html>


