@model PIDOTNET.DATA.DataModel.evaluation360

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>evaluation360</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_eval }) |
    @Html.ActionLink("Back to List", "Index")
</p>
